{% extends 'base.html' %}
{% load static %}
{% block page_style %}
    <style>
        body{
            min-height: 100vh;
            background: rgb(14,136,75);
            background: linear-gradient(180deg, rgba(14,136,75,1) 0%, rgba(44,224,84,1) 27%, rgba(130,240,55,1) 57%, rgba(196,255,181,1) 100%);
        }
        .flex-c{
            padding: 5px 10px;
            display: flex;
            align-items: flex-start;
            flex-direction: column !important;
            min-height: 150px;
        }
        .bg-secondary{
            border-radius: 10px 10px 0px 0px;
        }
        .menu-item{
            cursor: pointer;
            font-size: 20px;
        }
        .menu-item.selecionado{
            font-weight: bold;
        }
        .caixa{
            min-height: 300px;
        }
        .col{
            transition: 1s !important;
        }
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .lista{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: start;
            justify-content: start;
        }
        .lista li{
            width: 100%;
            padding: 8px;
            margin: 3px;
            cursor: pointer;
            transition: .7s;
        }
        .lista li:hover{
            background-color: gray;
            color: white;
            font-weight: bold;
        }
    </style>
{% endblock  %}
{% block page %}
    <div class="my-2 py-4"></div>
    <div class="container text-center py-2 bg bg-light p-3 rounded my-2">
        <div class="container px-3 fs-3 d-flex my-2 align-items-center justify-content-start">
            Administração
            <div onclick="NovoItem('{{selecionado}}')" class="btn btn-primary mx-2 my-2">{{btnNovo}}</div>
            <a href="{% url 'logout' %}" class="btn btn-danger my-2">Sair</a>
        </div>
        <div class="row py-3 text-light bg bg-secondary">
            <div class="col-3">
                <b>Elias Produções</b>
            </div>
            <div class="col">
                <b>Conteudo</b>
            </div>
        </div>
        <div class="row border border-1 caixa">
            <div class="col-3 flex-c border border-1">
                <div class="menu-item btn-model-select {% if selecionado == 'pct' %}selecionado{% endif %}" tela='pct'>
                    Pacotes
                </div>
                <div class="menu-item btn-model-select {% if selecionado == 'exp' %}selecionado{% endif %}" tela='exp'>
                    Experiências
                </div>
                <div class="menu-item btn-model-select {% if selecionado == 'atr' %}selecionado{% endif %}" tela='atr'>
                    Atrativos
                </div>
                <div class="menu-item btn-model-select {% if selecionado == 'atrd' %}selecionado{% endif %}" tela='atrd'>
                    Atrativos Dia
                </div>
                <div class="menu-item btn-model-select {% if selecionado == 'opc' %}selecionado{% endif %}" tela='opc'>
                    Opicionais
                </div>
            </div>
            <div class="col flex-c border border-1">
                {% if selecionado == 'pct' %}
                    {% if pacotes %}
                        <ul class="lista">
                            {% for p in pacotes %}
                                <li id="{{p.id}}" model="c" class="item">{{p.nome}}
                                    <a href="{% url 'ExcPct' p.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="alert alert-warning w-100">Nenhum Item encontrado!</span>
                    {% endif %}
                {% elif selecionado == 'opc' %}
                    {% if opcicionais %}
                        <ul class="lista">
                            {% for op in opicionais %}
                                <li id="{{op.id}}" model="opcicionais" class="item">{{op.nome}}
                                    <a href="{% url 'ExcOpc' op.id %}" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="alert alert-warning w-100">Nenhum Item encontrado!</span>
                    {% endif %}
                {% elif selecionado == 'atr' %}
                    {% if atrativos%}
                        <ul class="lista">
                            {% for a in atrativos %}
                                <li id="{{a.id}}" model="atrativos" class="item">{{a.nome}}
                                    <div class="acoes">
                                        <a href="{% url 'ExcAtr' a.id %}" class="btn btn-primary">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a href="{% url 'ExcAtr' a.id %}" class="btn btn-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="alert alert-warning w-100">Nenhum Item encontrado!</span>
                    {% endif %}
                {% elif selecionado == 'atrd' %}
                    {% if atrativos_dias %}
                        <ul class="lista">
                            {% for ad in atrativos_dias %}
                                <li id="Atrd/{{ad.id}}" model="atrativos_dias" class="item">{{ad.dia}}º dia - {{ad.getAtrativos}} 
                                    <a href="{% url 'ExcAtrd' ad.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="alert alert-warning w-100">Nenhum Item encontrado!</span>
                    {% endif %}
                {% elif selecionado == 'exp' %}
                    {% if experiencias %}
                        <ul class="lista">
                            {% for exp in experiencias %}
                                <li id="{{exp.id}}" model="experiencias" class="item">{{exp.nome}}
                                    <a href="{% url 'ExcExp' exp.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="alert alert-warning w-100">Nenhum Item encontrado!</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}
{% block page_script %}
    <script>

        function ControlForm(form){
            let div = document.getElementById("form-"+form);
            div.hidden = false;
        }

        window.onload = () => {
            document.querySelectorAll(".item").forEach(item => {
                item.addEventListener("click", () => {
                    window.location.href = "/View/"+item.getAttribute("model")+"/"+item.id;
                });
            })
            document.querySelectorAll(".btn-model-select").forEach(btn => {
                btn.addEventListener("click", () => {
                    let url = window.location.href.split("/adm/")[0];
                    window.location.href = url+"/adm/?select="+btn.getAttribute("tela");
                })
            })
        }

        function NovoItem(tipo){
            tipo = tipo.split("");
            tipo[0] = tipo[0].toUpperCase();
            let url = "";
            tipo.forEach(l => {url+=l});
            window.location.href = "/Form"+url+"/";
        }
    </script>
{% endblock  %}