<!doctype html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elias Expedições</title>
    <style>
      .navbar-not-scroll{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(195,94,0,1) 0%, rgba(224,150,44,1) 27%, rgba(242,195,76,1) 57%, rgba(254,255,96,1) 100%);
      }
      .navbar-scroll{
        background-color: rgba(0,0,0,.7) !important;
        color: white !important;
      }
    </style>
    {% block page_style %}{% endblock %}
    <link rel="icon" href="{% static 'icons/icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <nav id="navbar" class="navbar navbar-not-scroll navbar-expand-lg p-4 fixed-top" style="transition: .6s;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Home' %}">Elias Expedições</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu-principal">
              <li class="nav-item">
                <a class="nav-link active" href="/#Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#Experiencias" aria-disabled="true">Experiências</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#somos" aria-disabled="true">Quem somos nós?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contato" aria-disabled="true">Contato</a>
              </li>
              {% comment %} {% if request.user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Administracao' %}" aria-disabled="true">Administração</a>
                </li>
              {% endif %} {% endcomment %}
            </ul>
          </div>
        </div>
        {% if request.user.is_authenticated %} 
          <li id="login-html" class="dropdown" style="list-style: none;">
            <a class="dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
              {{request.user.username}}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Perfil</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'Administracao' %}" aria-disabled="true">Administração</a>
              </li>
            </ul>
          </li>
        {% else %}
          <a href="" id="login-html" class="nav-link text-dark fs-3"><i class="bi bi-box-arrow-in-right"></i></a>
        {% endif %}
    </nav>
    <div class="py-4 my-3"></div>
    {% block page %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% block page_script %}{% endblock %}
    <script>
      NavbarResize();
      window.addEventListener("resize", NavbarResize);
      function NavbarResize(){
        if(window.innerWidth < 500){
          document.getElementById("menu-principal").appendChild(document.getElementById("login-html"));
        }else{
          document.getElementById("navbar").appendChild(document.getElementById("login-html"));
        }
      }

      window.addEventListener("scroll", () => {
        if(window.scrollY > 450){
          document.getElementById("navbar").className = "navbar-scroll navbar navbar-dark p-2 navbar-expand-lg fixed-top";
          document.getElementById("login-html").classList.remove("text-dark");
          document.getElementById("login-html").classList.add("text-light");
        }else{
          document.getElementById("navbar").className = "navbar-not-scroll navbar navbar-expand-lg p-4 fixed-top";
        }
      })
    </script>
  </body>
</html>