{% extends 'base.html' %}
{% load static %}
{% block page_style %}
    <style>
        section{
            min-width: 100%;
            min-height: 450px;
            height:  max-content;
            position: relative;
        }
        .sobre{
            width: 45%;
            font-family: 'Bricolage Grotesque', sans-serif;
        }
        .img-capa{
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
        .secao-exp{
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(102,0,5,1) 0%, rgba(130,1,1,1) 34%, rgba(255,197,115,1) 100%);
        }
        #Contato{
            background-color: green;
        }
        .logo{
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 45px;
            text-shadow: 2px 2px 2px white, -2px 2px 2px white, -2px -2px 2px white, 2px -2px 2px white;
        }
        .card-exp{
            transition: .4s;
            cursor: pointer;
            overflow: hidden;
            height: 200px !important;
            margin: 10px !important;
            font-family: 'Lobster', cursive;
        }
        .card-exp:hover{
            box-shadow: 0 0 15px black;
        }
        .card-img{
            transition: .6s;
        }
        .card-img-overlay{
            color: white;
            text-shadow: 2px 2px 2px black, 2px -2px 2px black;
        }
        .titulo-secao{
            color: black;
            text-shadow: 2px 2px 2px white, -2px 2px 2px white, 2px -2px 2px white, -2px -2px 2px white;
        }
        .secao-cntt{
            width: 100%;
            height: 350px;
            background-color: black;
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-end;
        }
        .img-rodape{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
        }
        .secao-somos{
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(102,0,5,1) 0%, rgba(182,0,0,1) 44%, rgba(0,0,0,1) 100%);
        }
        .ag-rodape{
            color: black;
            z-index: 5;
            padding: 10px 20px;
            text-shadow: 2px 2px 2px white, -2px 2px 2px white, 2px -2px 2px white, -2px -2px 2px white;
        }
        .redes-sociais{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px 20px;
            font-size: 45px;
            z-index: 6;
        }
        .rede-social{
            position: relative;
            margin: 0px 5px;
        }
        .rede-social .insta{
            color: rgb(148,0,211) !important;
        }
        .icon-static{
            width: 50px;
            height: 50px;
        }
        .num-whats{
            width: 15px;
            height: 15px;
            position: absolute;
            top: 10px;
            right: -2px;
            background-color: red;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            border-radius: 50%;
        }
        .img-icon{
            width: 130px;
            margin: 20px 20px;
        }
        .img-sobre{
            object-fit: cover;
        }
        .cx-sobre{
            width: 100%;
            background-color: rgba(0,0,0,.1);
            border-radius: 0px 0px 20px 20px;
        }
    </style>
{% endblock  %}
{% block page %}
    <section id="Home">
        <img class="img-capa" src="{% static 'imagens/capa2.jpg' %}" />
        <div class="logo">
            <img src="{% static 'icons/icon.png' %}" class="img-fluid img-icon" />
        </div>
    </section>
    <section id="Experiencias" class="secao-exp">
        <div class="container w-100 p-3 cx-sobre">
            <div id="sobre-desc" class=" w-100 mx-3 p-2">
                <h2 class="titulo-secao">ExperiÊncias</h2>
                <div style="text-align: justify;" class="text-dark fs-4 py-2 my-3">A Agência de Turismo Elias Expedições - Jalapão Eco Turismo oferece roteiros de viagem que exploram novos lugares e culturas, proporcionando aventuras e conhecimento sobre a região, incluindo relevo, clima, fauna e flora. A empresa se preocupa em fornecer serviços de excelência, vivências culturais e relações interpessoais inesquecíveis.</div>
            </div>
            <img src="{% static 'imagens/imagem2.jpeg' %}" class="img-sobre img-fluid rounded" style="border-radius: 10px;" />
        </div>
        <div class="container py-4">
            <h3 class="titulo-secao">Confira as Experiências</h3>
        </div>
        <div class="container d-flex w-100 py-3 align-items-center justify-content-center">
            {% for exp in experiencias %}
                <div class="card-exp card text-bg-dark" style="width: 400px;">
                    <img src="{{exp.capa}}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column align-items-start justify-content-end">
                        <h5 class="card-title fs-2">{{exp.nome}}</h5>
                        <p class="m-0 p-0">Vê agenda completa</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container py-4">
            <h3 class="titulo-secao">Pacotes disponivéis</h3>
        </div>
        <div class="container d-flex w-100 py-3 align-items-center justify-content-center">
            {% for pct in pacotes %}
                <a class="card-exp card text-bg-dark" style="width: 400px;" href="{% url 'pacote' pct.id %}">
                    <img src="{{pct.capa}}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column align-items-start justify-content-end">
                        <h5 class="card-title fs-2">{{pct.nome}}</h5>
                        <p class="m-0 p-0">Vê informações do pacote</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
    <section id="somos" class="secao-somos">
        <div class="container">
            <div class="w-100 p-3 d-flex py-5 flex-wrap-reverse">
                <img src="{% static 'imagens/capa2.jpg' %}" class="img-sobre w-50 img-fluid rounded" style="border-radius: 10px; width: 40%;" />
                <div  class="sobre mx-3">
                    <h2 class="text-light py-3 fs-2" style="font-weight: bold;">Quem somos nós?</h2>
                    <div style="text-align: justify; object-fit: cover;" class="text-light fs-5 py-2 my-2 w-100 h-100">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <section id="contato" class="secao-cntt">
        <img class="img-rodape" src="{% static 'imagens/areia.png' %}" />
        <div class="redes-sociais">
            <a href="https://www.youtube.com/channel/UCLTP_h9Se0b_qZLW9hh3VfQ" class="rede-social">
                <i class="text-danger bi bi-youtube"></i>
            </a>
            <a href="https://www.instagram.com/elias_expedicoes/" class="rede-social">
                <i class="insta bi bi-instagram"></i>
            </a>
            <a href="mailto:eliasps.eee@gmail.com">
                <i class="text-primary bi bi-envelope-at-fill"></i>
            </a>
            <a href="https://www.tripadvisor.com.br/Profile/eliasexpedicoes?fid=9e3bdb74-6265-4730-90ae-0c60f05f6190" class="rede-social">
                <img src="{% static 'icons/tripadvisor.png' %}" class="icon-static" />
            </a>
            <a href="https://api.whatsapp.com/send?phone=5563984295428&text=Ol%C3%A1!%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20suas%20expedi%C3%A7%C3%B5es%20%20%3F" class="rede-social">
                <i class="text-success bi bi-whatsapp"></i>
                <i class="num-whats">1</i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=5563984406813&text=Ol%C3%A1!%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20suas%20expedi%C3%A7%C3%B5es%20%20%3F" class="rede-social">
                <i class="text-success bi bi-whatsapp"></i>
                <i class="num-whats">2</i>
            </a>
        </div>
        <div class="ag-rodape">Todos os direitos reservados - Agência de Turismo Elias Expedições © - Jalapão Eco Turismo</div>
    </section>
{% endblock  %}
{% block page_script %}
    <script>
        {% comment %} window.onload = () => {
            Ajustar();
        }
        window.addEventListener("resize", Ajustar)

        Ajustar();

        function Ajustar(){

            if(window.innerWidth < 500){
                document.getElementById("sobre-desc").className = "sobre w-100 mx-3";
            }else{
                document.getElementById("sobre-desc").className = "sobre w-50 mx-3";
            }
        } {% endcomment %}
    </script>

{% endblock  %}